:root {
    --primary : #4697bf;
    --secondary : #293039;
}

img{
    max-width: 100%;
}

.container{
    max-width: 95%;
    margin: 0 auto;
}

body{
    background-color: var(--secondary);
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/******* HEADER ********/




header{
    overflow: hidden;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header .container{
    margin: auto;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
h1{
    color: var(--primary);
    font-size: 3rem;
    margin: 0;
    padding: 0.3rem;
    text-transform: uppercase;
}
header h2{
    color: #fff;
    margin: 0;
    font-size: 1rem;
    padding: 0.3rem;
    text-transform: uppercase;
}
header span {
    padding: 0.3rem;
    color: var(--primary);
}

#navbar{
    background-color: var(--primary);
    padding: 1rem;
    width: 100%;
}

.fixed{
    position: fixed;
    top: 0;
    z-index: 2;
    box-shadow: 1px 20px 28px -10px rgba(41,48,57,1);
    -webkit-box-shadow: 1px 20px 28px -10px rgba(41,48,57,1);
    -moz-box-shadow: 1px 20px 28px -10px rgba(41,48,57,1);
}

header nav{
    display: flex;
    justify-content: space-evenly;
}
header nav a{
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

header nav a:hover{
    transform: scale(1.2,1.2);
}

#loading {
    overflow: hidden;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: block;
    margin-top: 2rem;
    background-color: var(--primary);
}


/********* ABOUT *********/

#about{
    margin: 0.6rem auto;
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    color: #fff;
    text-align: center;
}

#about img{
    max-height: 50%;
    padding: 0;
    margin: 0;
    max-width: 100%;
}
.about{
    margin: auto 2rem;
}

.about p{
    margin: 1rem auto;
    max-width: 80%;
    font-size: 1.3rem;
}
.about h2{
    text-transform: uppercase;
}

@media(min-width: 768px) {
    #about{
        flex-direction: row;
    }
    #about img{
        border-left: 5px solid rgb(212, 212, 212);
        max-height: 50%;
        max-width: 45%;
    }
    .about{
        margin: auto 1rem;
    }
    .about p{
        text-align: left;
        margin: auto 0;
    }
    .about h2{
        text-align: left;
    }
}

/********* PROYECTS *********/

#proyects{
    padding: 2rem;
}


.grid-proyects{
    text-align: center;
    margin: 4rem auto;
}
.grid-proyects div{
    display: block;
    margin-bottom: 2rem;
}


@media(min-width: 768px) {
    .grid-proyects{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

#proyects h2{
    margin: 2rem;
    font-size: 2rem;
    color: var(--primary);
    text-align: center;
    text-transform: uppercase;
}

#proyects h3{
    color: var(--primary);
}

#proyects p{
    color: #fff;
    margin: 0 auto;
    max-width: 60%;
}

#proyects img {
    max-width: 50%;
    width:100px;
    height:100px;
    border-radius: 50px;
}

/********** SKILLS *********/

#skills{
    overflow-x: hidden;
    display: grid;
    background-color: var(--primary);
}

#skills .container {
    padding: 2rem;
}

#skills h2 {
    margin-top: 0;
    margin-bottom: 4rem;
    color: rgb(29, 29, 29);
    text-transform: uppercase;
    text-align: center;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
    grid-row-gap: 6rem;
}
.skills-grid img {
    margin: auto auto;
    max-width: 40px;
    max-height: 40px;
}

@media(min-width: 450px) {
    .skills-grid{
        margin: 2rem;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 8rem;
        grid-row-gap: 4rem;
    
    }
    
    .skills-grid img {
        max-width: 30px;
        max-height: 30px;
    }

    #postman {
        grid-column: 2;
        grid-row: 4;
    }
}

@media(min-width: 550px) {
    .skills-grid{
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 5rem;
    }
    
    .skills-grid img {
        max-width: 30px;
        max-height: 30px;
    }

    #postman {
        grid-column: 2;
        grid-row: 3;
    }

    #git{
        grid-column: 3;
        grid-row: 3;
    }
}


@media(min-width: 850px) {
    .skills-grid{
        grid-column-gap: 8rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    #postman {
        grid-column: 5;
        grid-row: 2;
    }
    #git{
        grid-row: 2;
        grid-column: 4;
    }

    .skills-grid img {
        max-width: 40px;
        max-height: 40px;
    }
}


/********* CONTACT *********/

#contact{
    background-image: linear-gradient(rgba(26, 26, 26, 0.89),rgba(36, 35, 35, 0.842)),url(img/contact-bg.png);
    background-position: cover;
}

#contact h2{
    color: var(--primary);
    text-transform: uppercase;
    font-size: 2rem;
}

#contact div{
    margin-bottom: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contact a{
    transition: all 0.2s ease-out;
    max-width: 30px;
}

#contact i {
    margin: 1rem 0;
    font-size:  2rem;
    color: #fff;
}

footer{
    background-color: var(--primary);
    text-align: center;
    padding: 0.5rem;
    color: #fff;
}
